html {
    margin: 0;
    padding: 5px;
    background-color: #C4DBE0;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 15px;
}

button {
    background-color: #0C6980;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {background-color: #00a8a8;}

/*
#addMedia_btn_1{
    position: absolute;
    transition: .5s ease;
    top: 1%;
    left: 40%;
    
}

#addMedia_btn_2{
    position: absolute;
    transition: .5s ease;
    bottom: 1%;
    left: 40%;
}
*/

#listMediaTB {
    width: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 15px;
    padding: 2%;
    /*
    padding-left: 5%;
    padding-right: 5%;
    
    position:absolute;
    transition: .5s ease;
    left: 25%;
    right: 25%;
    */
}

th {
    background-color: #0C6980;
    padding: 10px;
    font-size: 20px;
    color: white;
}

tr:hover {background-color: #88ca5e;}

img {
    width:100px;
    height:100px
}

#media_form {
    font-family:'Lucida Sans', Verdana, sans-serif;
}

h1 {
    
    font-family:'Lucida Sans', Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #0C6980;
    color: white;
    border-radius: 12px;
}
