html, .media_container {
    margin: 0;
    padding: 5px;
    background-color: #C4DBE0;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 15px;
}

button:hover {background-color: #00a8a8;}

#listMediaTB {
    width: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 15px;
    padding: 2%;
}

th {
    background-color: #0C6980;
    padding: 10px;
    font-size: 20px;
    color: white;
}

tr:hover {background-color: #88ca5e;}

img {
    width:100px;
    height:120px
}

h1 {
    font-family:'Lucida Sans', Verdana, sans-serif;
    text-align: center;
    font-size: 10px;
    padding: 10px 20px;
    background-color: #0C6980;
    color: white;
    border-radius: 12px;
}

*{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.add_media_button {
  background-color: #0C6980;;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  position: fixed;
}

#addMedia_btn_1 {
    top: 23px;
    right: 28px;
    width: 280px;
}

#addMedia_btn_2 {
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 5px;
  bottom: 5px;
  right: 15px;
  overflow-y:scroll;
  z-index:10;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 700px;
  min-height: 600px;
  padding: 10px;
  font-family:'Lucida Sans', Verdana, sans-serif;
  background-color: white;
}

/* Set a style for the submit/add button */
.form-container .btn_add {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.div_sort_table {
  position: fixed;
  top: 7%;
  right: 26%;
  font-size: 15px;
}